<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form表单</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/hello" enctype="application/x-www-form-urlencoded">
        <label>
            用户名：<input name="username">
        </label>
        <label>
            密码：<input name="password">
        </label>
        <label>{{.}}</label>
        <label><input type="submit" value="提交"></label>
    </form>
</body>
</html>