.subscribe-area{
    .subscribe-padding{
        padding-bottom: 40px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgba(255, 255, 255,.14);
    }
    .subscribe-caption{
        span{
            font-family: $font_1;
            text-transform: capitalize;
            font-size: 20px;
            color: $theme-color;
            margin-bottom: 10px;
            display: block;
        }
        h3{
            color:$white;
            font-family: $font_1;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 12px;
            @media #{$xs}{
                padding: 0 0px;
                font-size: 25px;
            }
            @media #{$xs}{
                padding: 0 0px;
                font-size: 25px;
            }
            @media #{$sm}{
                padding: 0 0px;
                // font-size: 25px;
            }
        }
        p{
            color:#fff;
            font-size: 15px;
        }
        form{
            input{
                width: 74%;
                height: 60px;
                border: 0;
                color: #000;
                background:#fff;
                border: 1px solid rgba(255, 255, 255,0.2);
                border-radius: 0;
                padding: 15px 24px;
                font-size: 16px;
                &::placeholder{
                    color: #000;
                    font-size: 16px;
                }
                @media #{$xs}{
                    width: 100%;
                    margin-bottom: 20px;
                }

            }
            button.subscribe-btn{
                width: 24%;
                height: 60px;
                border: 0;
                background:$btn_bg;
                border-radius: 0;
                padding: 13px 24px;
                color: #fff;
                margin-left: 5px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                @media #{$xs}{
                    width: 100%;
                    margin-bottom: 20px;
                    margin-left: 0px;
                }
            }
        }
    }
}